---
import PageLayout from "~/layouts/PageLayout.astro";
// import Hero from "~/components/widgets/Hero.astro";
import Content from "~/components/widgets/Content.astro";
---

<PageLayout>
    <Content
    isReversed
    title="Regulatory Compliance Automation"
    content="In highly regulated industries like pharmaceuticals, finance, energy, and automotive, compliance and efficiency go hand in hand. Our suite of automation tools ensures alignment with regulatory standards, streamlines validation processes, and enhances system oversight—empowering businesses to focus on innovation and growth."
    />
  <Content
  bg="<div class='absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900 to-gray-800 opacity-10 pointer-events-none'></div>"
    title="Automated Software Config Verification"
    content="Save time and reduce errors by automating the verification of software configurations against specification documents. Ensure alignment with project requirements and regulatory expectations without the manual hassle."
  />
  <Content
    isReversed
    title="Automated Software Validation Review"
    content="Streamline compliance by automatically reviewing software validation reports for required components. Identify gaps in adherence to SOPs and regulations, allowing your team to focus on high-impact tasks."
  />
  <Content
  
  title="Automation of Quality Reviews"
  content="Eliminate the inefficiency of manual record reviews for SOP and regulatory concordance. Automate these processes to free up resources for supervision, training, and planning more effective quality control measures."
  />
  <Content
    isReversed
    title="Quality of Your Quality System"
    content="Improve your operational efficiency by assessing the accuracy of event descriptions, risk assessments, and root cause analyses. Gain actionable insights for better control measures and monitor system improvements for sustained effectiveness."
  />
</PageLayout>