---
import Layout from '~/layouts/PageLayout.astro';
import Features from '~/components/widgets/Features.astro';
// import Image from 'astro/components/Image.astro';
import Hero2 from '~/components/widgets/Hero4Custom.astro';
import MainAnimation from '~/components/animations/MainAnimation.astro';



// import heroImage from "src/assets/images/10b.png";
// import mainImg from 'src/assets/images/2k-linkedin-bg1.jpg';

const metadata = {
  title: 'Home',
  description: 'Page description goes here',
};
// const herimg = "src/assets/images/10b.png";
---

<Layout metadata={metadata}>
  <div class="block">
    <div class="flex flex-row max-w-7xl mx-auto">
      <div class="w-1/4 flex-shrink-0">
        <Hero2
          title="360 LOOK"
          subtitle="Automated quality reviews with 100% record coverage."
          content="On demand or continuous monitoring to proactively identify quality risks and trends that traditional methods often miss. Reduce quality review time and costs by 70%. Maintain compliance. Safeguard your reputation."
        />
      </div>
      <div class="w-3/4 flex-shrink-0 pt-60 ">
        <MainAnimation/>
      </div>
    </div>
  </div>

  <!-- Add more widgets as needed -->
  <Features
    title="Key Features"
    subtitle="Description of your features"
    items={[
      {
        title: 'Feature 1',
        description: 'Description of feature 1',
        icon: 'tabler:brand-tailwind',
        callToAction: {
          text: 'Get Started',
          href: '#',
        },
      },
      {
        title: 'Feature 2',
        description: 'Description of feature 2',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Feature 3',
        description: 'Description of feature 3',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Feature 4',
        description: 'Description of feature 4',
        icon: 'tabler:brand-tailwind',
        callToAction: {
          text: 'Get Started',
          href: '#',
        },
      },
      {
        title: 'Feature 5',
        description: 'Description of feature 5',
        icon: 'tabler:brand-tailwind',
      },
      // Add more features as needed
    ]}
  />
</Layout>

