---
import PageLayout from "~/layouts/PageLayout.astro";
// import Hero from "~/components/widgets/Hero.astro";
import Content from "~/components/widgets/Content.astro";
---

<PageLayout>
    <Content
    isReversed
    title="Intellectual Property"
    content="In the competitive world of intellectual property, precision and compliance are key to protecting innovations. Our solutions streamline the patent process, ensuring accuracy in drawings and descriptions to save time, reduce costs, and enhance approval success."
    />
  <Content
  bg="<div class='absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900 to-gray-800 opacity-10 pointer-events-none'></div>"
    title="Patent Drawing Compliance"
    content="Ensure your patent submissions meet USPTO and international authority standards with automated checks for compliance. By identifying discrepancies between drawings and specifications early, our solution significantly reduces costly rework and accelerates the approval process, helping you protect your innovations efficiently."
    image={{src:"~/assets/images/patent-drawing-compliance.png", alt:"none"}}
  />
  <Content
    isReversed

    content="Gain deeper insights into the alignment between your patent drawings and descriptive text through comprehensive qualitative assessments. This process supports improved clarity, reduces the likelihood of errors, and enhances the credibility of your submission, contributing to a smoother path to approval."
  />

</PageLayout>