---
import PageLayout from "~/layouts/PageLayout.astro";
// import Hero from "~/components/widgets/Hero.astro";
import Content from "~/components/widgets/Content.astro";
---

<PageLayout>
    <Content
    isReversed
    title="Life Sciences"
    content="In the highly regulated life sciences industry, precision and compliance are non-negotiable. From ensuring audit readiness to automating critical validation processes, our solutions help organizations streamline operations, reduce errors, and maintain the highest standards of quality and safety."
    />
  <Content
  bg="<div class='absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900 to-gray-800 opacity-10 pointer-events-none'></div>"
    title="Inspection/Audit readiness"
    content="Prepare seamlessly for FDA inspections and client audits with automated reviews of 100% of your quality records. Identify potential gaps in GXP compliance, traceability, and regulatory adherence. Whether you're a life sciences organization or a supplier, our solution helps you demonstrate a strong commitment to quality and regulatory standards."
  />
  <Content
    isReversed
    title="Automated Software Config Verification"
    content="Automate the verification of software configurations against specification documents, ensuring compliance with regulatory and project requirements. Minimize errors and enhance operational efficiency by streamlining this critical process."
  />
  <Content
  
  title="Automated Software Validation Review"
  content="Simplify regulatory compliance by automatically reviewing software validation reports. Ensure all required components align with your SOPs and regulations, freeing your team to focus on advancing innovation and safety."
  />
  <Content
    isReversed
    title="Automation of Quality Reviews"
    content="Reduce the burden of manual record reviews for regulatory and SOP compliance. Automate these tasks to allocate more time to supervision, training, and improving safety and quality control measures, driving greater efficiency across your organization."
  />
</PageLayout>