---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero5Custom.astro';
import { Icon } from 'astro-icon/components';





---

<Layout>
    <div class="">

        <Hero
            title="Recombo.AI"
            subtitle="A message from our CEO"
            content="After decades of inventing novel technology used in heavily regulated industries I faced a consistent challenge: the speed difference between rapid innovation and the constraints of traditional quality assurance. While engineers could develop solutions at an unprecedented pace, regulatory QA processes often slowed progress, sometimes even hampering innovation. <br/><br/> Every audit, every documentation process, reminded me of how outdated quality checks have become. Despite the best intentions, these processes often failed to prevent high-profile quality issues, such as recent concerns with commercial aircraft reliability, faulty medical devices, or compliance lapses in clinical trials. <br/><br/> Remaining competitive in a regulated environment is an uphill battle when trying to remain fast, nimble, compliant at the same time. Delayed review of quality signals and audit outcomes can result in costly repairs, burdensome corrective actions, and delay to market approval.  Audit and audit-prep  take lots of time and resources away from key R&D work.  Manual quality checks take too long, and current CAPA takes too much time and too many resources.  By finding and addressing issues in real-time, with a comprehensive continuous watch-tower approach, speed to market and preservation of resources and timeline targets can be identified and addressed real-time, before problematic trends occur. <br/><br/> At Recombo.AI, we’re addressing this by combining advanced AI with quality assurance to deliver 24/7, automated, unbiased, and continuous monitoring—helping prevent costly errors before they impact lives or reputations."
            />
    </div>
            <div class="my-16 block max-w-7xl mx-auto px-4 sm:px-6">
                <span class="inline-block align-middle font-regular text-xl tracking-tight">Dan Gebow</span>
                <a 
                  href="https://www.linkedin.com/in/dan-gebow"
                  class="inline-block ml-2 align-middle text-primary"
                  aria-label="LinkedIn Profile"
                >
                  <Icon name="tabler:brand-linkedin" class="w-8 h-8" />
                </a>
              </div>


</Layout>