---
import { SITE } from 'astrowind:config';
---

<span
class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-3xl md:text-xxl font-medium font-serif tracking-tighter whitespace-nowrap text-primary">
{SITE?.logoText}
</span>
